

html{
	    background-color: #f2f2f2;
font-family: 'Lato', sans-serif;
padding-top: 2em;
padding-bottom: 2em;

}
article{
  width: 80%;
  margin: 0 auto;
    background-color: white;
    padding: 4em 2em .5em 2em;
    box-shadow: 8px 8px 25px #888888;
}

section{
	margin-bottom: 8em;
}

h1,h2,h3,h4,h5,h6,p,li{
	margin-bottom: .4em;
	color: 	#2F2E2E;

}
h1{
	font-size: 6em;
	font-weight: 300;
	font-family: 'Abril Fatface', cursive;

}
h2{
	font-size: 2em;
	margin-bottom: .6em;
}

h3{
	font-size: 2em;
	font-family: 'Abril Fatface', cursive;

}
li{
	padding-left: 1em;
}
strong{
	font-weight: 700;
}
.intro{
	text-align: center;
	margin-bottom: 5em;
	
	
}

.intro>h2{
	/*width: 50%;*/
	max-width: 80%;
	margin: 0 auto;
	text-align: left;
	margin-bottom: 1em;
	line-height: 1.5em;
}

.text{
	width: 30%;

  float: right
}

#masterMap,#workingMap,#violentBluelight,#sexualAssault{
	height: 600px;
	width: 66%;
}

#excludedMap{
	height: 600px;
	width: 66%;
}
.legend{
	color:white;
	padding: .25em;
	padding-bottom: .1em;
	border-radius: 5px;
	max-width: 50%;
	margin-bottom: .5em;
	text-align: center;
}

.legend p{
	color: white;
}

section{
	color: red;
}
img{
	width: 100%;
}
